h{
    color: white;
    background-color:mediumvioletred;
  
    font-size: 80px;
    font-weight: 600;
    margin-left: 200px;
    
}
p{
    color :black;
    font-size: 30px;
    text-align: center;

}
button{
    font-size: 35px;
    background-color: rgb(255, 192, 241);
    text-align: center;
    margin-left: 450px;
}

    

    